body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.privacy-policy{
  margin-top:20px;
  background-color:rgb(233, 241, 247);
  height:75px;
  display:flex;
  flex-direction:column;
  text-align:center;
}

.privacy-policy-h2{
margin-top:20px;
  color:rgb(110, 5, 119);
  font-size: 30px;
  font-weight: bold;

}

.letter{
color:rgb(8, 77, 130);
font-size: 50px;
}

.letter1{
color:rgb(8, 77, 130);
font-size: 30px;
}
#d1{
display:flex;
flex-direction:row;
margin:20px;

}
#d2{
background-color: rgb(13, 112, 186);
height:400px;
width:300px;
display: flex;
flex-direction:column;
justify-content: space-evenly;
text-align: center; 
}
#d3{
background-color: rgb(233, 241, 247);
margin-left:200px;
width:50%;
height:950px;
}
#d4{
background-color: white;
color:rgb(110, 5, 119);
width:70%;
margin:auto;
}